.interactiveApplet .mobileWarning {
    display: none;
}

.interactiveApplet {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.interactiveApplet p {
    font-size: 1em;
}

.interactiveApplet h1 {
    font-size: 2em;
}

.interactiveApplet h2 {
    font-size: 1.75em;
}

.interactiveApplet h3 {
    font-size: 1.5em;
}

.interactiveApplet h1,
.interactiveApplet h2,
.interactiveApplet h3,
.interactiveApplet h4,
.interactiveApplet h5,
.interactiveApplet h6 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.interactiveApplet em {
    font-style: italic;
}

.interactiveApplet.plainText {
    margin-left: 2in;
    margin-right: 2in;
}

.interactiveApplet.plainText p{
    text-indent: 2em;
}

.interactiveApplet svg path {
    fill-opacity: 0;
}

.interactiveApplet svg path:hover {
    fill-opacity: 1;
    fill: #ff0000aa;
}

.interactiveApplet.home img {
    position: absolute;
    width: 700px;
    height: auto;
}

.interactiveApplet svg,
.interactiveApplet.home img:not(.shown) {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    z-index: -1;
    margin: 0 auto;
}

.interactiveApplet #imageAndMap {
    position: relative;
    width: 700px;
    margin: 0 auto;
}

.interactiveApplet img.showpointer {
    cursor: pointer;
}

.interactiveApplet .shown {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.interactiveApplet .columns {
    display: flex;
    flex-direction: row;
}

.interactiveApplet .column {
    text-align: center;
}

.interactiveApplet .column:not(:first-child){
    margin-left: 0.5em;
}

.interactiveApplet .column.vertcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.interactiveApplet .halfcolumn {
    flex-basis: 50%;
}

.interactiveApplet .buttonGroup {
    display: block;
    margin-top: 1.5ex;
    margin-bottom: 1.5ex;
}

.interactiveApplet .center {
    text-align: center;
}

.interactiveApplet div.button {
    display: inline-block;
    background-color: #ff0000;
    color: white;
    border: 1px solid black;
    font-weight: bold;
    padding: 1ex;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s;
    margin-top: 0.5ex;
    margin-bottom: 0.5ex;
    font-size: 1.7em;
}

.interactiveApplet .buttonGroup>*:not(:first-child) {
  margin-left: 15px;
}

.interactiveApplet div.button:hover {
    background-color: white;
    color: black;
}

.interactiveApplet.plainText img{
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .interactiveApplet  .mobileWarning {
        display: block;
        margin-bottom: 2ex;
    }
    .interactiveApplet .columns {
        display: block;
    }
    .interactiveApplet.plainText {
        margin-left: 2em;
        margin-right: 2em;
    }
}

/* .modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    min-width: 250px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__container *:not(.modal__close) {
    clear: right;
}

.modal__container h1 {
    text-align: center;
}

.modal__close {
    background: transparent;
    border: 0;
    float: right;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 1em;
}

.modal__close:after {
    content: "\2715";
}

.fade-in {
    animation: fadeIn ease 0.25s;
    -webkit-animation: fadeIn ease 0.25s;
    -moz-animation: fadeIn ease 0.25s;
    -o-animation: fadeIn ease 0.25s;
    -ms-animation: fadeIn ease 0.25s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */